.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.container img {
    filter: brightness(50%);
}

.carousel-caption {
    justify-content: center;
    align-items: center;
}